$primary: #2193b0;
$danger: #eb1a2d;

@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Courgette|Asar|Farsan|Merienda|Norican|Sofia&display=swap');

$black: #000;

.add-button {
  margin-bottom: 10px;
}

.add-polish-alert {
  color: red;
}

body {
  // min-height: 100vh background-attachment: fixed;, background-size: cover;
  // This recipe makes your image stay "static" without getting funky from contents
  background-attachment: fixed;
  background-image: linear-gradient(rgba(255,255,255, .15), rgba(255, 255, 255, .15)), url('public/nail-polish.jpg');
  background-position: center;
  background-size: cover;
  color: #eb1a2d;
  display: grid;
  font-family: 'Merienda', cursive;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.border {
  border: 3px solid $black;
  justify-content: center;
  margin: 1vw;
  padding: 1vw;
}

.box {
  border: 1px solid;
}

.btn {
  padding: .75vw;
}

.btn-link {
  color: black;
}

.btn-list {
  font-size: 14px;
  font-weight: 900;
}

.change-password-alert {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-sm-4 text-center controls pt-2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.delete-button {
  margin-bottom: 10px;
}

.fail {
  border: 5px solid red;
}

.failure {
  border: 5px solid red;
}

.form-control {
  background-color: rgba(255, 255, 255, .75);
}

.get-clear-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h1 {
  color: #eb1a2d;
  font-family: 'Courgette', cursive;
  font-size: 3.5em;
  font-weight: 850;
  margin: 20px 20px 25px 20px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
}

.header {
  font-size: 2rem;
}

.nav-item {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.message {
  margin: 0 auto;
}

.modal-header {
  background-color: $primary;
  color: white;
}

.modal-title {
  color: white;
}

.navbar {
  background-color: #2193b0;
  padding: 4px 16px;
}

.navbar-brand {
  font-size: 1em;
  font-weight: 900;
}

.navbar-second-brand {
  color: deeppink !important;
  font-size: .75em !important;
}

p {
  font-size: 3em;
  font-weight: 600;
  line-height: normal;
  margin: .1vw;
  padding: .25vw;
}

.row {
  text-align: center;
}

.sign-in-alert {
  color: red;
}

.sign-up-alert {
  color: red;
}

.sign-up-container {
  display: flex;
  justify-content: center;
}

.sign-up-container input {
  font-size: 1em;
  padding: 1.5em;
}

small {
  font-size: .75em;
  line-height: 15px;
}

.swatch {
  // background-color: red;
  border-radius: 50%;
  box-shadow:
  inset -2vh -2vh 3vh rgba(0,0,0,.5),
  inset 2px 2px 23px rgba(255,255,255,.5),
  5px 5px 15px rgba(0,0,0,.25);
  height: 15vh;
  position: relative;
  width: 15vh;
}

.swatch::before {
  background-color: rgba(255,255,255,.25);
  border-radius: 50%;
  content: '';
  height: 4vh;
  left: 1.2rem;
  position: absolute;
  top: .75rem;
  transform: skewY(-21deg) rotate(45deg);
  width: 2.25vh;
}

.update-polish-alert  {
  color: red;
}

.update-button,
delete-button, {
  margin: 5px;
}
