@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Courgette|Asar|Farsan|Merienda|Norican|Sofia&display=swap');

$black: #000;

.add-polish-alert {
  color: red;
}

body {
  background-image: url('../../public/nail-polish.jpg');
  background-position: center;
  background-size: cover;
  color: #D90909;
  display: grid;
  font-family: 'Merienda', cursive;
  min-height: 90vh;
  padding-bottom: 5rem;
}

.border {
  border: 3px solid $black;
  justify-content: center;
  margin: 1vw;
  padding: 1vw;
}

.box {
  border: 1px solid;
}

.btn {
  padding: .75vw;
}

.change-password-alert {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-sm-4 text-center controls pt-2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.fail {
  border: 5px solid red;
}

.failure {
  border: 5px solid red;
}

h1 {
  color: #D90909;
  font-family: 'Courgette', cursive;
  font-size: 3em;
  font-weight: 850;
  margin: 20px 10px 20px 10px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

.header {
  font-size: 2rem;
}

.nav-item {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.message {
  margin: 0 auto;
}

.modal-header {
  background-color: #2193b0;
}

.modal-title {
  color: white;
}

.navbar {
  background-color: #2193b0;
}

.nav-buttons {
  justify-content: center;
}

p {
  font-size: 3em;
  font-weight: 600;
  line-height: normal;
  margin: .1vw;
  padding: .25vw;
}

.row {
  height: 50vmin;
  text-align: center;
  width: 50vmin;
}

.sign-in-alert {
  color: red;
}

.sign-up-alert {
  color: red;
}

.sign-up-container {
  display: flex;
  justify-content: center;
}

.new-polish-container,
.update-polish-container {
  display: flex;
  justify-content: center;
}

.sign-up-container input {
  font-size: 1em;
  padding: 1.5em;
}

small {
  font-size: .5em;
  line-height: 15px;
}

.status-messages {
  font-size: 1.5em;
  justify-content: center;
  // margin: 0 1em;
  // padding: 0 1em;
  text-align: center;
}

.update-polish-alert  {
  color: red;
}
